<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Regression">
    <test name="Regression Test">
        <classes>
<!--            <class name="test.AdminTest"/>-->
<!--chữ test ở đầu .AdminTest là gì? là package chứa class AdminTest
Trong <classes> sẽ điền list các class mà ta muốn run test. Name là [packageName].[className]. Ví dụ: firstpackage.FirstClass-->
            <class name="test.Stage2_AdminTest_DataProvider_ThreadLocal_PageManager.AdminTest_V3_DataProviderParallelWithThreadLocal" >
<!-- Nếu muốn chỉ định cụ thể Method muốn được run thì phải sử dụng <include>
              <methods>
                     <include name="TC03_CheckSystemUsers_UserRole" />
                    <include name="TC02_CheckSystemUsers_UsernameSearchBox" />
                </methods>-->
            </class>
           <!-- <class name="test."/>-->
        </classes>
    </test>
</suite>

<!-- Cách run test hỗn hợp package, class và method:
<packages> và <classes> được khai báo cùng cấp, ngang hàng với nhau. <class> không phải khai báo dưới <packge>.
Tuy nhiên khai báo <method> thì phải nằm dưới <class>

<suite name="Combine Suite" verbose="1">
    <test name="Combine Test">
        <packages>
            <package name="firstpackage" />
        </packages>
        <classes>
            <class name="secondpackage.FirstClass" />
            <class name="thirdpackage.FirstClass">
                <methods>
                    <include name="firstTest" />
                </methods>
            </class>
        </classes>
    </test>
</suite>
-->
